@model LopHoc

<div>
    ID: <b>@Model.Id</b> <br/>
    Tên lớp học: <b>@Model.TenLopHoc</b> <br/>
    Năm nhập học: <b>@Model.NamNhapHoc</b> <br/>
    Năm ra trường: <b>@Model.NamRaTruong</b> <br/>
    Số lượng sinh viên: <b>@Model.SoLuongSinhVien</b> <br/>
</div>